<h1 mat-dialog-title>Authorization Required</h1>

<div mat-dialog-content>
    Please enter your password to delete selected pig
</div>

<form>
    <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #tempPassword required >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close (click)="checkValidPassword(tempPassword.value)">Ok</button>
</div>
