.map-container {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  } 
  
  .map-frame {
    border: 2px solid black;
    height: 300px;
  }
  
  #map {
    height: 100%;
  }